// @import "custom";
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap/scss/bootstrap";

$back-icon-bg: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#bbbbbb' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"), "#", "%23") !default;

header {
  padding-bottom: 80px;
}

.loading {
  opacity: .5;
}

/* Headers */
.section-header {
   button.back {
    margin-left: -16px;
    vertical-align: middle;
    span.icon {
      display: inline-block;
      font-size: 1.6em;
      width: 1em;
      height: 1em;
      background-size: 100% 100%;
      background-image: $back-icon-bg;
      vertical-align: middle;
    }
  }
  button.back:hover {
    background-color: rgba(0, 80, 125, 0.05) !important;
  }

  .header-button {
    height: 3.4em;
    display:flex;
    align-items:center; /* vertically aligned! */
    justify-content: center;
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 2em;
    }
    button.back {
      margin-left: -8px;
    }
  }
}

/* Table */
.table {
  &.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.02);
  }
  .row-click:hover {
    cursor: pointer;
    background-color: rgba(0, 80, 125, 0.05) !important;
  }
  .row-click:active {
    cursor: pointer;
    background-color: rgba(0, 80, 175, 0.05) !important;
  }
  .searchHeader {
    position: relative;
    button.close {
      position: absolute;
      right: 16px;
      top: 1px;
      height: 1.3em;
      width: 1.4em;
    }
  
  }
}

/* Forms */
form {
  padding: 25px !important;
  background-color: #eee;
}
.form-group.pager-select {
  label {
    margin-right: 10px;
  }
}
p.form-control-plaintext {
  padding-left: 5px;
}


/* Buttons */
.button-group {
  margin-top: 1em;
  button {
    margin-right: 1em;
  }
}

@media (max-width: 576px) {
  .button-group {
    margin-bottom: 1em;
    button {
      width: 100%;
      margin: .4em 0 0;
      }
  }
}